/* for customizations, consider using ``local.css`` */

:root {
  --foreground-color: #ff0000;
  --background-color: #000000;
  --led-on-color: var(--foreground-color);
  --led-off-color: #260000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  overflow: hidden;
  display: table;
}
a {
  color: inherit;
  text-decoration: underline;
}
#root-container {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
#clock {
  position: absolute;
  transform: translateX(-50%);
}
#logo-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
img.logo {
  visibility: hidden;
  position: absolute;
  top: 25%;
  left: 50%;
  min-height: 15%;
  max-width: 33%;
  transform: translateX(-50%) translateY(-50%);
}
.menu-box {
  border-color: 1px solid var(--foreground-color);
  background-color: var(--background-color);
}
.menu-container > a {
  opacity: 0;
  text-decoration: none;
}
.menu-container > a:hover {
  opacity: 1;
  transition: 0;
}
#sound {
  position: fixed;
  bottom:1pt;
  right: 1pt;
}
#soundbtn {
  font-size: 2rem;
}
#soundsetup {
  visibility: hidden;
  position: absolute;
  bottom: 1pt;
  right: 1pt;
  padding: 5px;
  border: solid;
  text-align: center;
}
#soundsetup h3 {
  margin: 0;
}
#soundsetup a {
  width: 10em;
  display: inline-block;
  margin: 2pt;
  padding: 5pt;
}
#soundsetup a.active {
  color: var(--background-color);
  background-color: var(--foreground-color);
}
#menu {
  position: fixed;
  bottom:1pt;
  left: 1pt;
}
#menubtn {
  visibility: hidden;
  font-size: 200%;
}
#menupopup {
  visibility: hidden;
  position: absolute;
  bottom: 1pt;
  left: 1pt;
  padding: 5px;
  border: solid;
  text-align: left;
}
#menupopup h3 {
  margin: 2pt;
}
input[type="file"] {
  display: none;
}
#menupopup input,
#menupopup label:has(input[type="file"]) {
  border: 1px solid var(--foreground-color);
  background-color: inherit;
  margin: 2pt;
}
#menupopup label {
  width: 15em;
  display: inline-block;
  margin: 2pt;
  padding: 5pt;
  border-radius: 5pt;
}
#menupopup a {
  width: 15em;
  display: inline-block;
  margin: 2pt;
  padding: 5pt;
  text-align: center;
  border-color: var(--foreground-color);
  border-radius: 5pt;
}
